@charset "big5";




.zoominzoomout {-webkit-animation-duration: 0.8s;  animation-duration: 0.8s;  -webkit-animation-name: zoominzoomout;  animation-name: zoominzoomout;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes zoominzoomout {   0% { transform: scale(1); } 100%{ transform: scale(0.95);}}
@keyframes zoominzoomout { 0% { transform: scale(1);} 100%{ transform: scale(0.95);}}




.zoominzoomout {-webkit-animation-duration: 0.8s;  animation-duration: 0.8s;  -webkit-animation-name: zoominzoomout;  animation-name: zoominzoomout;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes zoominzoomout {   0% { transform: scale(1); } 100%{ transform: scale(0.95);}}
@keyframes zoominzoomout { 0% { transform: scale(1);} 100%{ transform: scale(0.95);}}


.approch1 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: approch1;  animation-name: approch1;  -webkit-animation-iteration-count: 1;    animation-iteration-count:1; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 100%{ transform: translate(0,0); opacity:1 }}
@keyframes approch1 { 0% { transform: translate(0,-100px); opacity:0.2 } 50%{ transform: translate(0,50px); opacity:0.5 } 100%{ transform: translate(0,0); opacity:1 }}



.uptodown1 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown1;  animation-name: uptodown1;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown1 { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown1 { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}

.uptodown2 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown2;  animation-name: uptodown2;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown2 { 0% { transform: translate(0,-10px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown2 { 0% { transform: translate(0,-10px);  } 100%{ transform: translate(0,0);}}


.uptodown3 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown3;  animation-name: uptodown3;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown3 { 0% { transform: translate(0,-15px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown3 { 0% { transform: translate(0,-15px);  } 100%{ transform: translate(0,0);}}

.uptodown4 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown4;  animation-name: uptodown4;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown44 { 0% { transform: translate(0,-10px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown4 { 0% { transform: translate(0,-10px);  } 100%{ transform: translate(0,0);}}


.uptodown5 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown5;  animation-name: uptodown5;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown5 { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown5 { 0% { transform: translate(0,-5px);  } 100%{ transform: translate(0,0);}}


.uptodown6 {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: uptodown6;  animation-name: uptodown6;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes uptodown6 { 0% { transform: translate(0,-20px);  } 100%{ transform: translate(0,0);}}
@keyframes uptodown6 { 0% { transform: translate(0,-20px);  } 100%{ transform: translate(0,0);}}





.downtoup {-webkit-animation-duration: 2s;  animation-duration: 2s;  -webkit-animation-name: downtoup;  animation-name: downtoup;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite; -webkit-animation-direction: alternate;animation-direction: alternate;}
@-webkit-keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-30px);}}
@keyframes downtoup { 0% { transform: translate(0,0);  } 100%{ transform: translate(0,-30px);}}


