* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    max-height: 100vh;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}


section {
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
}

section::before {
    content: attr(data-deco-txt);
    white-space: nowrap;
    font-size: 30rem;
    color: white;
    font-weight: bold;
    opacity: 0.25;
    z-index: 0;
    position: absolute;
    bottom: -10rem;
    right: 10rem;
    -webkit-text-stroke: 1.2rem;
}

section:nth-child(odd) {
    background: pink;
}

section:nth-child(even) {
    background: rgb(255, 230, 192);
}


.innerWrapper {
    display: flex;
    grid-gap: 30px;
    z-index: 10;
}

/* hover before */

.btn {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: rgb(255, 99, 71);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px rgb(203, 72, 49);
    overflow: hidden;
    position: relative;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: 0px 7px rgb(203, 72, 49);
}

.btn:active {
    background-color: crimson;
    transform: translateY(8px);
    box-shadow: 0px -5px rgb(151, 30, 48);
    transition-duration: 0.2s;
}

/* 高亮 */
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100px;
    transform: rotate(45deg);
    width: 200%;
    height: 50%;
    background: rgba(255, 255, 255, 0.4);
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    width: 200%;
    height: 50%;
    background: rgba(255, 255, 255, 0.6);
    transition-duration: 0.2s;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 80px;
    transform: rotate(45deg);
    width: 200%;
    height: 10%;
    background: rgba(255, 255, 255, 0.4);
}

.btn:hover:after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    transform: rotate(45deg);
    width: 200%;
    height: 10%;
    background: rgba(255, 255, 255, 0.5);
    transition-duration: 0.2s;
}

/* nth */
.star {
    width: 150px;
    height: 150px;
    background: url(./icon_star_full_24x24.svg) center 100%;
}

.nth-section .star:nth-child(n) {
    filter: grayscale(0);
}

.nth-section .star:nth-child(2n) {
    filter: grayscale(0.25);
}

.nth-section .star:nth-child(3n) {
    filter: grayscale(0.5);
}

.nth-section .star:nth-child(4n) {
    filter: grayscale(0.75);
}

.nth-section .star:nth-child(5n) {
    filter: grayscale(1);
}

/* has */
dialog {
    margin: 10%;
    width: calc(100% - 20%);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.dialogWrapper {
    text-align: center;
}

.dialogWrapper h3 {
    position: relative;
    color: white;
    background: orchid;
    padding: 10px 0;
}

.dialogWrapper h3 .close {
    position: absolute;
    right: 20px;
}

.descri,
.coupounWrapper {
    max-width: 100%;
    height: 50vh;
    padding: 1rem 2rem;
    text-align: left;
}

.bottom-close {
    border-top: 1px lightgrey solid;
    padding: 5px 0;
}

dialog:has(.coupounWrapper) h3 {
    background: rgb(255, 213, 0);
}

dialog:has(.coupounWrapper) .coupounWrapper {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

}

.coupoun {
    height: 150px;
    border-radius: 10px;
    background: lightsalmon;
}

/* not */
.not-section .star:not(:last-child) {
    filter: hue-rotate(80deg);
}

/*  odd/even */
.oddeven-section .innerWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.oddeven-section .innerWrapper .btn:nth-child(odd) {
    background-color: lightgreen;
    box-shadow: 0px 10px rgb(30, 156, 58);
}