.product-item {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: min(100%, 300px);
    gap: 1rem;
    overflow: hidden;
    background: lightblue;
    border-radius: 1rem;
    padding: 1rem;

    .product-img {
        display: grid;
        place-items: center;
        background: #454545;
        border-radius: 0.5rem;
        overflow: hidden;
        grid-column: 1/2;
        grid-row: 1/-1;
        aspect-ratio: 1/1;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-column: 2/-1;
        grid-row: 1/-1;

        * {
            margin: 0;
            padding: 0;
        }
    }


    .product-desc {
        /* height: 2rem; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }


}

@media screen and (max-width: 1020px) {
    .product-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .product-img {
            grid-column: 1/-1;
            grid-row: 1/2;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-column: 1/-1;
            grid-row: 2/-1;


        }


    }
}