@charset "utf-8";
/* CSS Document */


/*基本*/
body {margin: 0; padding:0; background:#fff; }
	@media screen and (max-width:767px){
		body {background:none;width:100%; background:#fff;}
	}



/*全BOX版面*/
.WRAPPER {position:relative; display:inline-block;  margin:0; padding:0;  width:100%; min-height: 100vh; overflow:hidden; }
.WRAPPER img {border:0; vertical-align:top;}
.WRAPPER .mainArea {  margin:0 auto; width:1220px; font-family:"Century Gothic", "微軟正黑體", sans-serif; position:relative; }
.WRAPPER .mainArea a{ padding:0; margin:0; text-decoration:none; }
.Area .list_00 ul {display:inline-block;}
.Area .list_00 li {list-style:none;float:left;overflow: hidden;}

@media screen and ( max-width:736px) {
	.WRAPPER {min-width: inherit; background:url(); background-repeat:repeat-y; background-size:100%; }
	.WRAPPER .mainArea { padding-bottom:0px; width:100%; }
	.WRAPPER img {width:100%; height:auto;}
}


/*PC背景*/
.bg_01 { z-index:-40; position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position: center top; pointer-events:none;}
.bg_02 { z-index:-45; position:fixed; top:0px; left:0; width:100%; height:100%; background-repeat:repeat-y; background-position: center top; pointer-events:none;}
.bg_deco1 { z-index:-30; position:absolute; top:1900px; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position: center top; pointer-events:none;}
.bg_deco2 { z-index:-30; position:absolute; top:7500px; left:0; width:100%; height:100%; background-repeat:repeat-y; background-position: center top; pointer-events:none;}
.bg_repeat { z-index:-50; position:fixed; top:0; left:0; width:100%; height:100%; background-repeat:repeat-y; background-position: center top; pointer-events:none;}
.bg_m_all { display:none; background:none}

@media screen and ( max-width:736px) {
		.bg_01 { display:none}
		.bg_02 { display:none}
		.bg_deco1 { display:none}
		.bg_deco2 { display:none}
		.bg_m_all { z-index:1; position: fixed; top:0; left:0; width:100%; height:100%;background-repeat:repeat-y; background: repeat center top; background-size:100%;}	
}


/*區塊_all*/
.Area { position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:block;} 
.Area .go_bt {
  -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
       -o-transition: all 0.4s ease;
          transition: all 0.4s ease;}
.Area .go_bt:hover {
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);}
.Area1220 { margin:0 auto; width:1220px;}
.Area1300 { margin:0 auto; width:1300px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area1220 { width:100%;}
		.Area1300 { width: 100%}
		.Area960 { width:100%;}
		/*區塊_切割*/
		.Area_1bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn a { float:left; margin:0 0 2% 0; padding:0; width:100%; list-style: none;}
		.Area_2bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn a { float:left; margin:0 0% 0%; padding:0; width:50%; list-style: none;}
		.Area_3bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn a { float:left; margin:0 0% 0% ; padding:0; width:33.33%; list-style: none;}
		.Area_4bn { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_4bn a { float:left; margin:0 0% 0% ; padding:0; width:25%; list-style: none;}
		.Area_1bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_1bn_nopadding a { float:left; margin:0; padding:0; width:100%; list-style: none;}
		.Area_2bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_2bn_nopadding a { float:left; margin:0; padding:0; width:50%; list-style: none;}
		.Area_3bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_3bn_nopadding a { float:left; margin:0; padding:0; width:33.3%; list-style: none;}
		.Area_4bn_nopadding { margin: 0 auto; padding:0; overflow:hidden;}
		.Area_4bn_nopadding a { float:left; margin:0; padding:0; width:25%; list-style: none;}
	}

	
/*按鈕*/
.bnn {
	
}
.bnn a img {
	transition-duration: 0.1s;
	backface-visibility: hidden;
	transform: translateZ(0);
	display: block;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: auto;
	text-align: left;
}
.bnn:hover a img {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}	
	


/*我是CSS_momologo*/
.momologo { position:absolute; top: 30px; left:20px; z-index:999; }
	@media screen and (max-width:767px){
      .momologo {width: 100%;top: 11.7vw;left:0vw;}
	}

		
	
/*隱鑶*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}
	


/*版頭區塊*/
.Area_title { height:660px; }
.Area_title .txt_light1{ position:absolute; top: 418px; left: 80px;z-index:5;mix-blend-mode: screen ;}
.Area_title .txt_light2{ position:absolute; top: 470px; left: 80px;z-index:5;mix-blend-mode: screen ;}
.Area_title .star{ display:block;margin:0 auto; position:absolute;top: 0; left:0px;width:100%;height:560px;}

	@media screen and (max-width:767px){
	.Area_title { height:100%;}
	.Area_title .txt_light1{ position:absolute; top: 39vw; left: 0vw;z-index:5;width: 50%; mix-blend-mode: screen ;}
	.Area_title .txt_light2{ position:absolute; top: 47.5vw; left: -6vw;z-index:5;width: 50%; mix-blend-mode: screen ;}
	.Area_title .star{ display:block;margin:0 auto; position:absolute; top: 0; left:0vw;width:100%;height:100%;}
	
	}
.Area_title .pc_title_swiper {position:absolute;left:240px;top:475px; height: 50px;}
.Area_title .pc_title_swiper img {width:100%;}
	@media screen and (max-width:767px){
		.Area_title .pc_title_swiper {position:absolute;left:14vw;top:48.5vw; height: 9vw;margin: 0 auto;padding: 0 auto; }
		.Area_title .pc_title_swiper img {width:60%;}
	}

/*版頭輪播品*/
    .Area_title .box_PD .Area_swiper {  position: absolute; width: 100%;}
    .Area_title .box_PD .Area_swiper ul {list-style: none; margin: 0;padding: 0;}
    .Area_title .box_PD .Area_swiper li {list-style: none; margin: 0;padding: 0;}
    .Area_title .box_PD .Area_swiper li .swiper_pd { opacity: 0; z-index: 5;position: absolute; top:95px; left:530px;  }
    .Area_title .box_PD .Area_swiper li.swiper-slide-active .swiper_pd { opacity: 1;z-index: 7;transition: .8s ease-out; }
	.Area_title .box_PD .Area_swiper li .swiper_txt { opacity: 0; z-index: 3;position: absolute; top:235px; left: 795px; transform: translate(-5%,0) ; }
	.Area_title .box_PD .Area_swiper li .swiper_txt_3 { opacity: 0; z-index: 3;position: absolute; top:235px; left: 865px; transform: translate(-5%,0) ; }
    .Area_title .box_PD .Area_swiper li.swiper-slide-active .swiper_txt { opacity: 1;z-index: 5;transition: .8s ease-out; transform: translate(0,0); }
    .Area_title .box_PD .Area_swiper li.swiper-slide-active .swiper_txt_3 { opacity: 1;z-index: 5;transition: .8s ease-out; transform: translate(0,0); }
    .Area_title .box_PD .Area_swiper img { width:100%; height:auto;}
    @media screen and (min-width:768px){
      .Area_title .box_PD .Area_swiper li .swiper_pd{ width: 636px; height: 549px; }
      .Area_title .box_PD .Area_swiper li .swiper_txt{width: 374px; height: 229px; }
      .Area_title .box_PD .Area_swiper li .swiper_txt_3{width: 374px; height: 229px; }        
    }  
    @media screen and (max-width:767px){
      .Area_title .box_PD .Area_swiper { z-index: 2; position:absolute; width:100%; height:100%;}
      .Area_title .box_PD .Area_swiper li .swiper_pd {   opacity: 0; z-index: 1;position: absolute; top: -5vw; left:-2vw;width:100%;transform:scale(.9) }
	  .Area_title .box_PD .Area_swiper li.swiper-slide-active .swiper_pd {  opacity: 1;z-index: 1;transition: .8s ease-out; }
	  .Area_title .box_PD .Area_swiper li .swiper_pd img {width:110%;}
	  .Area_title .box_PD .Area_swiper li .swiper_txt { opacity: 0; z-index: 1;position: absolute; top: 64vw; left:0vw; transform: scale(.75) ;}
	  .Area_title .box_PD .Area_swiper li.swiper-slide-active .swiper_txt {  opacity: 1;z-index: 1;transition: .8s ease-out; transform: translate(-5%,0) scale(.75);}
	  .Area_title .box_PD .Area_swiper li .swiper_txt img {width:100%;}
    }




/*按鈕*/
.Area_active {height:280px;}
.pc_activ_a {position:absolute;left:-10px;top:55px; width:1220px}
.pc_activ_a ul{ margin:0 0px 0 0}
.pc_activ_a li {list-style:none;display:inline-block; width:27%; margin:0}
@media screen and (max-width:767px){
	.Area_active {height:20vw;}	
	.pc_activ_a {position:absolute;left:-10vw;top:4vw;width: 110%}
	.pc_activ_a ul{ margin:0 0px 0 0px}
	.pc_activ_a li {list-style:none;display:inline-block; width: 31%; margin:0 0 0 0vw;}
		}


/*登記區塊*/
.Area_danji { height:5520px;}
		@media screen and (max-width:767px){
			.Area_danji { height:100%;}			
		}
.pc_danji_a { position:absolute;left:37px;top:120px;width:1220px;}
.pc_danji_b { position:absolute;left:0px;top:250px;}




/*限搶*/
.Area_limited {height:2450px;}
		@media screen and (max-width:767px){
			.Area_limited { height:100%;overflow:hidden;}			
		}

/** 倒數2**/
.TimerNick_2 {left: 525px;top: 245px; z-index:0; display:inline-block; height:51px; text-align:right;    position: absolute;}
.TimerNick_2 .FontStyle { display:inline-block; margin:0 40px 0 0; padding:0; border:0px; font:normal 34px/34px Arial; color:#fdf9f6; /*text-shadow:1px 1px 0px #fff;*/ letter-spacing:-1px; text-align:right; background:transparent; }
.TimerNick_2 div:nth-of-type(2),
.TimerNick_2 div:nth-of-type(3) { width:38px;}
.TimerNick_2 span { padding-left:2px; font: bold 27px/38px "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing: -0.05em;color: #000;}
	@media screen and (max-width:767px){
		
		.TimerNick_2  {left:33vw;top:24vw; height:6vw;  background-size: 100%; transform: scale(1)}
		.TimerNick_2 .FontStyle { margin:0 15px 0 0; padding:0; border:0px; width:6.2vw; font:19px/5vw Arial; color:#fff; /*text-shadow:1px 1px 0px #fff;*/ letter-spacing:-1px; text-align:right; background:transparent;}
        .TimerNick_2 div:nth-of-type(2),
		.TimerNick_2 div:nth-of-type(3) { width:6vw;}
		.TimerNick_2 span { padding-left:1vw; font: bold 3.2vw/11vw "微軟正黑體","Microsoft JhengHei", Arial, Helvetica; letter-spacing: -0.05em;color: #000;}
	}





/*8大主打品*/
@media screen and (min-width:768px){
	.Area_item { height:2750px;}
    .pc_item_a {width:640px;position: absolute;left:20px;top:140px;}
    .pc_item_b {width:640px;position: absolute;left:590px;top:500px;}
    .pc_item_a,.pc_item_b ul {margin: 0;padding: 0;}
    .pc_item_a,.pc_item_b ul li {width:100%; margin:-1% 0;overflow: visible !important;}
    .pc_item_a,.pc_item_b ul li img {width:87%;}
	}
@media screen and (max-width:767px){
	.Area_item { height:820vw;background:url(mb_18.png);mix-blend-mode: screen; top: 25vw; background-size:100%;background-repeat: repeat-y;}
    .pc_item_a {width:100%;}
    .pc_item_b {width:100%;}
    .pc_item_a ul {width:100%;margin: 0;padding: 0 0 0 8%;}
    .pc_item_b ul {width:100%;margin: 0;padding: 0 0 0 8%;}
    .pc_item_a ul li {width:89%;padding:0;margin:0;}
    .pc_item_b ul li {width:89%;padding:0;margin:0;}
    
	}



/*品牌輪播*/
.Area_brand_swiper { height:520px;  margin:0 auto;}
.rwd_brand_swiper {left:10px;top:170px;width:1200px;height:340px;}
.rwd_brand_swiper img {  width:83%; height:auto; padding-left:0; }

    .Area_brand_swiper .brand_button_myarrow_r {z-index: 20; position: absolute; top:47%; right:-1vw; width: 36px; height: 36px; cursor: pointer;
	-webkit-tap-highlight-color: transparent;}
	.Area_brand_swiper .brand_button_myarrow_l {z-index: 20; position: absolute; top:47%; left:-1vw; width: 36px; height: 36px; cursor: pointer;
	-webkit-tap-highlight-color: transparent;}

@media screen and (max-width:767px){
		.Area_brand_swiper { height:80vw; background-repeat:no-repeat; background-size:74%;  overflow:hidden; width:100%;}		    
	    .rwd_brand_swiper {position:absolute;left:0vw;top:45vw;width:80%;}
		.rwd_brand_swiper img {  width:88%; height:auto; padding-left:0; }
		.Area_brand_swiper .brand_button_myarrow_r {z-index: 20; position: absolute; top:58%; right:0vw; width: 30px; height: 30px; cursor: pointer;
		-webkit-tap-highlight-color: transparent;}
		.Area_brand_swiper .brand_button_myarrow_l {z-index: 20; position: absolute; top:58%; left:0vw; width: 30px; height: 30px; cursor: pointer;
		-webkit-tap-highlight-color: transparent;}

}




/*特談輪播*/
.Area_item_swiper { height:640px;}
.rwd_item_swiper { left:0px;top:160px;width:1200px; height:400px; }
.rwd_item_swiper img {  width:100%; height:auto;  }

    .Area_item_swiper .item_button_myarrow_r {z-index: 20; position: absolute; top:43%; right:2vw; width: 36px; height: 36px; cursor: pointer;
	-webkit-tap-highlight-color: transparent;}
	.Area_item_swiper .item_button_myarrow_l {z-index: 20; position: absolute; top:43%; left:2vw; width: 36px; height: 36px; cursor: pointer;
	-webkit-tap-highlight-color: transparent;}

@media screen and (max-width:767px){
		.Area_item_swiper { height:100vw;  padding:5vw 0 0; overflow:hidden; width:100%;}		    
	    .rwd_item_swiper {position:absolute;left:0vw;top:22vw;width:100%;}
		.rwd_item_swiper img {  width:95%; height:auto; padding-left:0; }
		.Area_item_swiper .item_button_myarrow_r {z-index: 20; position: absolute; top:55%; right:0vw; width: 30px; height: 30px; cursor: pointer;
		-webkit-tap-highlight-color: transparent;}
		.Area_item_swiper .item_button_myarrow_l {z-index: 20; position: absolute; top:55%; left:0vw; width: 30px; height: 30px; cursor: pointer;
		-webkit-tap-highlight-color: transparent;}

}

.item_swiper .rwd_item_swiper .swiper-slide { width: 220px; height: 400px;}/*輪播用3d時要給卡片寬高滑動時延遲載圖不會跳一下*/
  @media screen and (max-width:767px){
  .item_swiper .rwd_item_swiper .swiper-slide { width: 50vw; height: 100%;}/*輪播用3d時要給卡片寬高滑動時延遲載圖不會跳一下*/
  }



/*輪播BN+銀行*/
.Area_banner_swiper { height:360px;}
		@media screen and (max-width:767px){
			.Area_banner_swiper { height:65vw; }			
		}

.banner_swiper {position: absolute;left: 0px;top: 80px;text-align: left;width: 1220px;}
@media screen and (max-width:767px){
		.banner_swiper {position: absolute;left:3vw;top: 8vw;text-align: left;width:96%;padding: 2% 1%;}
		.rwd_banner_swiper {height:60vw;}
	    .rwd_banner_swiper img {  width:95%; height:auto;  }

}



/*加價購*/
.Area02 {    width: 1220px; height:750px;position: relative;margin: 0 auto; box-sizing: border-box;padding: 0 0 0;}
@media screen and (max-width:767px){
.Area02 {  width:100%;height: auto; padding:0 0 0 0;background-repeat: no-repeat; background-size:100%;background-color:;margin: 0 0 -1vw 0;}
		}
/*區塊2查詢與說明*/
.Area02 .bonus_btn_info {position:absolute;left:850px;top:0px;z-index: 9;}
.Area02 .bonus_btn_search {position:absolute;left:900px;top:16px;z-index: 9;}
		@media screen and (max-width:767px){
			.Area02 .bonus_btn_info {position:absolute;left:69vw;top:0vw;width:14%;}
			.Area02 .bonus_btn_search {position:absolute;left:83vw;top:7vw;width:12%;}	
		}

/*加價購--集點卡*/
.Area_game03_1 {}
.Area_game03_1 .title .btn_more1 {z-index:1;position:absolute;top: 94px;left: 782px;display:block;overflow:hidden;width: 102px;height:70px;background-color: transparent;color:transparent;}
.Area_game03_1 .title .btn_list  {z-index:1;position:absolute;top: 93px;left: 889px;display:block;overflow:hidden;width: 102px;height:70px;background-color: transparent;color:transparent;}
    @media screen and (min-width: 768px){
		.Area_game03_1 {padding-top: 60px;margin-bottom: 30px;}
		.Area_boxstyle > .title { position: relative;height: 150px;}
		.Area_boxstyle > .Area_boxstyle_box {padding-top: 0px;}
	}
	@media screen and (max-width:767px){
	  .Area_game03_1 { margin-bottom: 0;}
	  .Area_game03_1::before {content:'';width: 100%;height: calc(12vw + 44px);position: absolute;top: -21vw;left: 0;background-color: #ebebeb;}
	  .Area_boxstyle > .Area_boxstyle_box {padding-top: 26vw;}
      .Area_game03_1 .title .btn { top: 0; left: 69%; width: 14%; height:100%;}
	  .Area_game03_1 .box_bg svg { position: absolute;top: -23vw; left: -11%; width: 20%;}
    }
    /*集點卡*/
    .Aear_addbuy_point .Aear_addbuy_point_txt { z-index:1; position:absolute; top:30px; left:775px; display:block; overflow:hidden; width:100px; height:60px; background-color:transparent; color:transparent;}
    /*內文*/
    .Aear_addbuy_point .box_card_txt1 { position:relative;}
    .Aear_addbuy_point .box_card_txt1 .txt {z-index:1;position:absolute;top: 140px;left: 163px;width:29%;font-size:51px;font-weight:800;color: #d2b796;}
    .Aear_addbuy_point .box_card_txt1 .txt_nologin {z-index:1;position:absolute;top: 195px;left: 163px;width: 29%;font-weight:800;color: #d2b796;}
    .Aear_addbuy_point .box_card_txt1 .txt_nologin span{font-size: 45px;}
    .Aear_addbuy_point .box_card_txt1 .txt span { font-size:110px; font-weight:300; font-family:Century Gothic; letter-spacing: -0.2rem; }
    .Aear_addbuy_point .box_card_txt2 { margin:0 50px 30px; font-size:25px; font-weight:800; color:#ffffff; text-align:left;}
    .Aear_addbuy_point .box_card_txt2 ul { margin:0; padding:0 0 0 20px; line-height: 1.5;}
        @media screen and (max-width:767px){
          .Aear_addbuy_point .box_card_txt1 .txt_nologin { top: 39%; left: 3.5%; width: 37%; letter-spacing:-0.05rem; }
		  .Aear_addbuy_point .box_card_txt1 .txt_nologin span{font-size: 5vw; }
          .Aear_addbuy_point .box_card_txt1 .txt { top: 30.5%; left: 3.5%; width: 37%; font-size: 5vw; letter-spacing:-0.05rem; }
          .Aear_addbuy_point .box_card_txt1 .txt span { font-size: 12vw; }
          .Aear_addbuy_point .box_card_txt2 { margin:0vw 0 2vw 0; padding:0 10%; font-size: 3.47vw;}
          .Aear_addbuy_point .box_card_txt2 ul { margin:0;}
        }
    /*點數轉移*/
    .Aear_addbuy_point .btn_pointprocess { position: absolute; top: 63%; left: 16.2%; margin: 0 auto;}
        @media screen and (max-width:767px){
          .Aear_addbuy_point .btn_pointprocess { top: 65.5%; left: 7.5%; width: 30%;}
        }

/*加價購--獨家商品*/
.Area_game03_2 { padding-top: 140px;}
	@media screen and (max-width:767px){
			  .Area_game03_2 { padding-top: 100px;}
			}
/*加價購商品樣式*/
    .Aear_addbuy_PD .PD_ { z-index:1; position:relative; margin:0 auto; width: 1180px;}
    .Aear_addbuy_PD .PD_ ul { margin:0; padding:0; list-style:none;}
    .Aear_addbuy_PD .PD_ ul:after { content:""; display:block; clear:both;}
    .Aear_addbuy_PD .PD_ li { float:left; display: block; position:relative; margin:0 0 15px 15px; padding:0; border-radius: 20px; /*border: 6px solid #eed18d;*/ -webkit-box-sizing: border-box; box-sizing: border-box;overflow: hidden; width:23%; background-color: #fff;}
    .Aear_addbuy_PD .PD_ ul li::after { content:""; display:block; clear:both;}

    .Aear_addbuy_PD .PD_ li img { width:100%;}
    /*.Aear_addbuy_PD .PD_ li > img { box-shadow:5px 5px 10px rgba(182,64,109,0.4);}*/
     .Aear_addbuy_PD .PD_ li .btn_PDmore {z-index:1;display: none;position:absolute;top: 3%;left: 8%;width: 83%;padding-bottom: 70%;/* background-color:rgba(0,0,0,0.3);*/}

    .Aear_addbuy_PD .PD_ li.show_PDmore .btn_PDmore { display: block;}
    .Aear_addbuy_PD .PD_ li .btn_PDmore a { position:absolute; top:0; left:0; display:block; width:100%; height:100%;}
       .Aear_addbuy_PD .PD_ li .btn {z-index:1;position:absolute;top: 77%;left: 47%;width: 47%;}
      .Aear_addbuy_PD .PD_ li .txt {z-index:1;position:absolute;top: 77.5%;left: 8.5%;width: 50%;margin: 0;font-size: 18px;font-weight: 300;color:#969696;text-align: left;}

    .Aear_addbuy_PD .PD_ li .txt span { font-size:24px;  font-family: Century Gothic;}
      .Aear_addbuy_PD .PD_ li .txt2 {z-index: 1;position: absolute;top: 89%;left: 0%;right: 0;margin: 0;width: 100%;padding: 7% 0% 4% 0%;font-size: 12px;/*- font-weight: 300;-*/color: #818181;background-color: #e8e8e8;}

    .Aear_addbuy_PD2 .PD_ li .txt { z-index:1; position:absolute; top: 62.5%; }
	.Aear_addbuy_PD2 .PD_ li .btn { z-index:1; position:absolute; top: 72.5%;}
    .Aear_addbuy_PD2 .PD_ li .btn_PDmore { z-index:1; display: none; position:absolute; top:5%; left:2%; width:48%; padding-bottom:56%;/* background-color:rgba(0,0,0,0.3);*/}
 
	@media screen and (max-width:767px){
          .Aear_addbuy_PD .PD_ { margin:2vw auto; width:95%;}
          .Aear_addbuy_PD .PD_ li {float:left;position:relative;margin: 0 0 3vw 2vw;padding:0;border-width: 1vw;border-radius: 3vw;width: 47%;-webkit-box-sizing:border-box;box-sizing:border-box;}
          .Aear_addbuy_PD .PD_ li .btn { width: 46%; }
          .Aear_addbuy_PD .PD_ li .txt { font-size:4vw;}
          .Aear_addbuy_PD .PD_ li .txt span { font-size:4.2vw;}
		  .Aear_addbuy_PD .PD_ li .txt2 {z-index: 1;position: absolute;top: 87%;left: 0%;right: 0;margin: 0;width: 100%;padding: 2% 0% 4% 0%;font-size: 2vw;/*- font-weight: 300;-*/color: #818181;background-color: #e8e8e8;}

		  .Aear_addbuy_PD3 .tag {position: absolute;top: 0px;display: block;}
        }
    /*第3區加2行文案*/
    .Aear_addbuy_PD3 .PD_ li .btn { top: 65.5%; }
    .Aear_addbuy_PD3 .PD_ li .txt { top: 54.5%; }
    .Aear_addbuy_PD3 .PD_ li .txt2 { top: 83%;}
        @media screen and (min-width:768px){
          .Aear_addbuy_PD3 .PD_ li { padding-bottom: 30px; }
        }
        @media screen and (max-width:767px){
          .Aear_addbuy_PD3 .PD_ li { padding-bottom: 0vw; }
        }




/*icon*/
.Area_icon {height:540px;}
.pc_activ_d {position:absolute;left:-10px;top:155px; width:1220px}
.pc_activ_d ul{ margin:0 0px 0 0}
.pc_activ_d li {list-style:none;display:inline-block; width:16%; margin:0 0 18px 10px;}
@media screen and (max-width:767px){
	.Area_icon {height:115vw; }	
    .pc_activ_d {position:absolute;left:-11vw;top:26vw; width:110% }
	.pc_activ_d ul{ margin:0 0px 0 0}
	.pc_activ_d li {list-style:none;display:inline-block; width:29%; margin:0 0 3vw 2vw }		
		}


