html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 


        h1 Assignment 1: Your First Web Server
        p To build your first web server for development, follow the steps below:
        ol 
            li Install Node.js
            li Create a Node.js project by npm
            li Install Express module in your Node.js project by npm
            li Write a simple web server program and start it
            li Show an HTML page when you enter http://localhost:3000/ in a browser’s address bar (For example: a simple page including “Hello, My Server!” is an acceptable result.)

        p You may refer to this document in Express official website to complete this assignment.

        h3 Reminders:
        ol 
            li You have to learn how to use the command line interface in your computer.
            li Set up your GitHub repository to ignore folder node_modules, which includes all the modules installed in your Node.js project. Refer to this document. 
            li All the assignments in this week should continue with the same Node.js project built in this assignment.