@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

* {
  box-sizing: content-box;
  font-family: 'Ubuntu', sans-serif; 
}

.bg {
    min-height: 100vh;
    background: linear-gradient(rgb(235, 122, 178),rgb(216, 93, 99));
    overflow-y: auto;
}

.title {
  text-shadow: 2px 2px 10px palegoldenrod;
}

.status {
  background: palevioletred;
  min-width: 1rem;
  min-height: 1rem;
}

.todo-part {
  overflow-y: auto; 
}

.w-auto {
  min-width: 15rem;
}




/* media */
@media (min-width: 1000px) {
  .bg {
    height: 100vh !important;
  }
  .scrollbar {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  .fixed {
    max-width: 38.32vw;
    max-height: 29vh;
  }

  .todo-card {
    flex-grow: 0.5;
  }
}
