@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
}

/* body {
    background-image: url(https://memes.tw/user-gif/837c07820f4a4017d6c1a37b2fc6787a.gif);
    height: 100vh;
    backdrop-filter: blur(5px);
} */

ul > li {
    list-style: none;
}

thead {
    color: crimson;
}
tbody > tr:nth-child(odd) {
    color: rgb(212, 127, 16);
}


.flex-grow-07 {
    flex-grow: 0.8;
}

.flex-grow-03 {
    flex-grow: 0.2;
}


@media (min-width: 321px) and (max-width: 768px) {
    ul {
        flex-wrap: wrap;
    }
    ul > li {
        flex: 50%
    }
}


/* table */

tr :first-child {
    border-radius: 1rem 0 0 0;
}

tr :last-child {
    border-radius: 0 1rem 0 0;
}