@import ../utilities/_mixin

.welcom
    &-section
        background: lightblue
    &-container
        width: min(100%, 1200px)
        display: flex
        justify-content: center
        align-items: center
        font-size: 5rem
        font-weight: bold
        padding-block: 6rem
        padding-inline: 2rem
        margin-inline: auto

        @include pad
            font-size: 3rem

        @include mobile
            font-size: 2rem
